<div *ngIf="alert.type !== ''" class="alert alert-{{ alert.type }} alert-dismissible">
  <div class="d-flex flex-column">
    <h4 class="mb-1 text-dark">{{ alert.title }}</h4>
    <span>{{ alert.message }}</span>
  </div>
  <button type="button" class="btn-close" (click)="resetAlert()" aria-label="Close"></button>
</div>


<div class="card">
  <div class="card-body">
    <table *ngIf="enseignants.length > 0" datatable id="students-table" [dtOptions]="dtOptions" class="table table-row-dashed table-row-gray-300 gy-7">
      <thead>
      <tr class="fw-bolder fs-6 text-gray-800">
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th *ngIf="user.status === 'Admin'"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let enseignant of enseignants">
        <td>{{ enseignant.user.nom }}</td>
        <td>{{ enseignant.user.prenom }}</td>
        <td>{{ enseignant.user.email }}</td>
        <td *ngIf="user.status === 'Admin'">
          <div class="d-flex gap-2 justify-content-end">
            <a class="btn btn-sm btn-icon btn-light-info" routerLink="/enseignant/{{enseignant.id}}/emplois-du-temps">
              <i class="fa fa-calendar"></i>
            </a>
            <a class="btn btn-sm btn-icon btn-light-warning" (click)="editEnseignant(enseignant.id)">
              <i class="fa fa-edit"></i>
            </a>
            <button class="btn btn-sm btn-icon btn-light-danger" (click)="deleteEnseignant(enseignant.id)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
