<div class="card overflow-hidden">
  <div class="card-body">
    <form class="forms-sample row" >
      <div class="col-md-6 mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom"
               value="" placeholder="nom" name="nom">
      </div>
      <div class="col-md-6 mb-3">
        <label for="prenom" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="prenom"
               value="" placeholder="prenom"
               name="prenom">
      </div>

      <div class="mb-3 col-md-6">
        <label for="diplome_etudiant" class="form-label">Diplome étudiant</label>
        <input value="" type="text"
               class="form-control"
               id="diplome_etudiant" placeholder="Diplome" name="diplome_etudiant">
      </div>

      <div class="mb-3 col-md-6">
        <label for="filiere_id" class="form-label">Filiere</label>
        <select class="form-select" id="filiere_id" name="filiere_id">
          <option value=""></option>
        </select>
      </div>

      <div class="mb-3 col-md-6">
        <label for="mail_univ" class="form-label">Email université</label>
        <input value="" type="email"
               class="form-control" id="mail_univ"
               placeholder="Email" name="mail_univ">
      </div>

      <div class="mb-3 col-md-6">
        <label for="tel" class="form-label">Téléphone</label>
        <input value="" type="text" class="form-control"
               id="tel"
               placeholder="Téléphone" name="tel">
      </div>

      <div class="mb-3 col-md-6">
        <label for="email" class="form-label">Email</label>
        <input value="" type="email" class="form-control"
               id="email"
               placeholder="Email" name="email">
      </div>

      <div class="col-md-6 mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input value="" type="password" class="form-control" id="password"
               placeholder="Password" name="password">
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
