<div class="card overflow-hidden">
  <div class="card-body">
    <form class="forms-sample row" (ngSubmit)="onSubmit()">
      <div class="col-md-6 mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom"
               name="nom" [(ngModel)]="etudiant.user.nom" placeholder="nom" >
      </div>
      <div class="col-md-6 mb-3">
        <label for="prenom" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="prenom"
               name="prenom" [(ngModel)]="etudiant.user.prenom" placeholder="prenom">
      </div>

      <div class="mb-3 col-md-6">
        <label for="diplome_etudiant" class="form-label">Diplome étudiant</label>
        <input name="diplome_etudiant" [(ngModel)]="etudiant.diplome_etudiant" type="text"
               class="form-control"
               id="diplome_etudiant" placeholder="Diplome" >
      </div>

      <div class="mb-3 col-md-6">
        <label for="filiere_id" class="form-label">Filiere</label>
        <select class="form-select" id="filiere_id" name="filiere_id" [(ngModel)]="etudiant.filiere_id" >
          <option *ngFor="let filiere of filieres" [value]="filiere.id">{{ filiere.nom }}</option>
        </select>
      </div>

      <div class="mb-3 col-md-6">
        <label for="mail_univ" class="form-label">Email université</label>
        <input name="mail_univ" [(ngModel)]="etudiant.user.mail_univ" type="email"
               class="form-control" id="mail_univ"
               placeholder="Email" >
      </div>

      <div class="mb-3 col-md-6">
        <label for="tel" class="form-label">Téléphone</label>
        <input name="tel" [(ngModel)]="etudiant.user.tel" type="text" class="form-control"
               id="tel"
               placeholder="Téléphone" >
      </div>

      <div class="mb-3 col-md-6">
        <label for="email" class="form-label">Email</label>
        <input name="email" [(ngModel)]="etudiant.user.email" type="email" class="form-control"
               id="email"
               placeholder="Email" >
      </div>

      <div class="col-md-6 mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input name="password" [(ngModel)]="etudiant.user.password" type="password" class="form-control" id="password"
               placeholder="Password" >
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
